@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid purple;
  padding: 30px;
  border-radius: 5px;
}

 input {
  width: 35%;
  height: 30px;
  margin: 10px;
  padding: 3px 7px;
  font-size: 17px;
}

label {
  font-size:20px;
}
 ol {
  list-style-type: none;
}

ol li {
margin:20px;
padding-left: 10px;
padding-right:10px;
}

.desc {
margin:10px;
padding-left: 10px;
padding-right:10px;
}

.amount {
margin-left:150px;
padding-left: 10px;
padding-right:10px;
}

.delete {
  float: right;
}
